/* @import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-family: 'Targetica','Helvetica Neue','Helvetica','Arial',sans-serif;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  min-height: 75px;
}

.header {
    font-weight: bold;
    margin-left: 30px;
}

.bg-primary {
  background-color: #c00 !important;
}

#content {
  min-height: 500px;
  margin-top: 40px;
}

#content h1 {
  font-size: 30px;
  text-align: center;
}

.btn {
  background-color: #fff;
  color: #000;
  border-color: #888888;
}

.like {
  background-image: url(greyheart.png);
  height: 30px;
  width: 30px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c00 !important;
}

.nav-link {
  color: #fff !important;
}

@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
} */
